# https://pnpm.io/npmrc
prefer-symlinked-executables=true
save-exact=true
save-prefix=""

# https://pnpm.io/npmrc#public-hoist-pattern
# These next two lines are the default in pnpm
public-hoist-pattern[]="*eslint*"
public-hoist-pattern[]="*prettier*"
# This is installed by jest
public-hoist-pattern[]="@jest/globals"
